@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Firmata</h1>
    <p>Lets get you where you want to go.</p>
</div>
<div class="card-columns">
    @foreach (var bus in Model.Buses)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@bus.Image');">
            </div>
            <div class="card-body">
                <h5 class="card-title">@bus.Title</h5>
            </div>
        </div>
    }
</div>

